@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');
body {
    background-image:url("https://media.giphy.com/media/BHNfhgU63qrks/giphy.gif");
    background-size:cover;
    font-family: 'Kanit', sans-serif;
    color:beige;
}
.aukk { text-align: center;}
